uv
pytest
pytest-cov
pytest-mockito
robotstatuschecker
ruff >= 0.15.13
robotframework-robocop >= 8.0.0
invoke >= 3.0.3
twine
wheel
rellu >= 2.0.2
twine
wheel
typing-extensions >= 4.15.0
approvaltests >= 17.4.3
mypy == 2.1.0
