uv
pytest
pytest-cov
pytest-mockito
robotstatuschecker
ruff >= 0.15.20
robotframework-robocop >= 8.3.2
invoke >= 3.0.3
twine
wheel
rellu >= 2.0.2
twine
wheel
typing-extensions >= 4.16.0
approvaltests >= 18.2.0
mypy == 2.1.0
