uv
pytest
pytest-cov
pytest-mockito
robotstatuschecker
ruff >= 0.15.14
robotframework-robocop >= 8.2.8
invoke >= 3.0.3
twine
wheel
rellu >= 2.0.2
twine
wheel
typing-extensions >= 4.15.0
approvaltests >= 18.0.5
mypy == 2.1.0
