name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  schedule:
    - cron: 33 6 * * 3

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [3.8, 3.11.1]
        rf-version: [5.0.1, 6.1.0]

    steps:
    - uses: actions/checkout@v4
    - name: Set up Python ${{ matrix.python-version }} with Robot Framework ${{ matrix.rf-version }}
      uses: actions/setup-python@v4
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements-dev.txt
    - name: Install RF ${{ matrix.rf-version }}
      run: |
        pip install -U --pre robotframework==${{ matrix.rf-version }}
    - name: Run ruff
      run: |
        ruff check ./src tasks.py
    - name: Run tidy
      run: |
        robotidy --transform RenameKeywords --transform RenameTestCases -c RenameTestCases:capitalize_each_word=True --lineseparator unix atest/
    - name: Run balck
      run: |
        black --config pyproject.toml --check src/
    - name: Run unit tests
      run: |
        python utest/run.py
    - name: Run acceptance tests
      run: |
        python atest/run.py
    - uses: actions/upload-artifact@v3
      if: ${{ always() }}
      with:
        name: atest_results
        path: atest/results
