name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  schedule:
    - cron: 33 6 * * 3

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [3.10.19, 3.14]
        rf-version: [6.1.1, 7.4.1]

    steps:
    - uses: actions/checkout@v4
    - name: Set up Python ${{ matrix.python-version }} with Robot Framework ${{ matrix.rf-version }}
      uses: actions/setup-python@v6
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install uv
        uv pip install -r requirements-dev.txt --python ${{ matrix.python-version }} --system
    - name: Install RF ${{ matrix.rf-version }}
      run: |
        uv pip install -U robotframework==${{ matrix.rf-version }} --python ${{ matrix.python-version }} --system
    - name: Run ruff
      run: |
        ruff check ./src tasks.py
    - name: Run tidy
      run: |
        robotidy --transform RenameKeywords --transform RenameTestCases -c RenameTestCases:capitalize_each_word=True --lineseparator unix atest/
    - name: Run balck
      run: |
        black --config pyproject.toml --check src/
    - name: Run unit tests
      run: |
        python utest/run.py
    - name: Run acceptance tests
      run: |
        python atest/run.py
    - uses: actions/upload-artifact@v4
      if: ${{ always() }}
      with:
        name: atest_results-${{ matrix.python-version }}-${{ matrix.rf-version }}
        path: atest/results
